* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    /* background-color: #FAFAF8; */
    
    
    

}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/
.section-one {
    /* width: 73.4693878%; */
    /* 720 px*/
    /* min-height: 87.0408163%; */
    /* 291px */
    height: auto;
    /* margin: 13%; */
    /* margin-left: 7.14285714%; */
    /* 70px */
    /* margin-top: 1%; */
    /* 70px */

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    /* background-color: #fff3e0;     */
    background-image: url('./images/background3.png');
    
}

.nav-bar {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    min-height: 108px;
    height: auto;
    /* 108px */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.22222222% 3.33333333% 2.22222222% 3.33333333%;
    background-color: white;
    /* background-color: #fff3e0; */

}

.frame-38 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31.3888889%;
    /* 226px */
    /* min-height: 60px; */
    height: 8.33333333%;
    /* 60 */

}

.chef-claude-icon {
    width: 19.0265487%;
    height: 23.0088496%;
    /* 52px */
}

.chef-claude {
    width: 76.1061947%;
    /* 172px */
    height: 26.7857143%;
    /* 60px */
    font-style: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 26.7857143%;
    /* 60px */
    letter-spacing: -5%;

}



.trailing-content {
    display: flex;
    /* */
    /* justify-content: center; */
    /* align-items: center; */
    width: 82.2222222%;
    /* 594px */
    height: 5.27777778%;
    /* 38px */



    /* margin-top: 8.3611111%; */
    /* 74.6px */
    margin-top: 5%;
    margin-left: 8.75%;
    /* 63px */
    gap: 1.66666667%;
    

    /* 12px */
    /* width: 594;
height: 38;
top: 178px;
left: 63px;
gap: 12px; */
/* background-color: #dede09; */

}

.text-input {
    width: 76.1717172%;
    /* 399px */
    height: 100%;
    /*  */
    border-radius: 6px;
    border-width: 1px;
    border-color: #D1D5DB;
    padding: 13px 9px 13px 9px;
    box-shadow: 0px 1px 2px 0px #0000000D;
     background-color: #e3f2fd;

}

.add-ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 100%;
    color: white;
    border-radius: 6px;
    padding: 17px 9px 17px 9px;
    background-color: #141413;
    box-shadow: 0px 1px 2px 0px #0000000D;

}

.section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #dede09; */

    width: 82.5%;
    /* 594px */
    /* height: 50.8333333%; */
    /* height:max-content; */
    align-self: flex-start;
    /* min-height: 366px; */
    height: auto;
    /* 366px */
    margin-top: 5%;
    margin-left: 8.75%;
    gap: 0.333333333%;
    /* 24px */
      /* background-color: #f1f8e9; */
          background-color: white;


}

.section-main>.heading {

    width: 100%;
    height: 3.66%;
    /* 38px */
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0%;

}

.section-main>.list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;

    line-height: 28px;
    letter-spacing: 0%;

}

.footer {
    width: 82.5%;
    height: 15.1388889%;

    border-radius: 8px;
    /* margin-top: 678px; */
    margin-left: 8.75%;
    /* 65px */
    margin-top: 5%;
    background-color: #F0EFEB;
    /* background-color: #dede09; */

    display: flex;



}

.content>h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 587;
    font-size: 16px;
    line-height: 5px;
    letter-spacing: 0%;

}

.content>p {
    font-family: 'Inter', sans-serif;
    font-weight: 270;
    font-size: 14px;
    line-height: 7px;
    letter-spacing: 0%;

}

.footer>.content {
   
 
    /* padding-left: 8%;
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 2%;      */
    width:57.2390572% ;
    /* 340px */
    height:47.706422% ;
    /* 52px */
    /* height: auto; */

    margin-top: 3.71380471%;
    /* 28px */
    margin-left: 7.07070707%;
    /* 42px */
    /* gap: 8px; */

    display: flex;
    flex-direction: column;
   

}

.footer>.btn-get_recipe {

    width:19.3602694% ;
    /* 115px */
height: 34.8623853%;
/* 38px */

margin-top: 3.91380471%;
margin-left: 438px;
margin-right: 7.07070707%;
padding-top: 9px;
padding-right: 17px;
padding-bottom: 9px;
padding-left: 17px;
border-radius: 6px;
background: #D17557;
border: #D17557;
box-shadow: 0px 1px 2px 0px #0000000D;
color: white;
}

.section-last{
    width: 82.5%;
    height:auto;

    border-radius: 8px;
    /* margin-top: 678px; */
    margin-left: 8.75%;
    /* 65px */

     margin-top: 8.3611111%;

    /* background-color: #dede09; */
    gap: 24px;

}

.suggested-recipe-container {
    width: 82.5%;
    height:auto;
    border-radius: 8px;
    margin-top: 5%;
    margin-left: 8.75%;

    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
    /* background-color: #fffde7; */
        background-color: white;

      border-radius: 10px;

}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

.merged{
    background-color: white;
}